.Home {
  header {
    height: 50px;
    background-color: rgb(49, 207, 207);
  }
  .Cards {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
  }
}
