.info {
  display: flex;
  border-bottom: 0.5px solid grey;
  width: 80%;
  margin: 0 auto;
  padding: 15px 0px;
  color: #494949;
  align-items: center;
  span {
    width: 40%;
    margin-left: 10px;
  }

  .last-span {
      display: flex;
      justify-content: space-between;
      align-items: center;
    i{
      margin-right: 10px;
      cursor: pointer;
      size: 1.2em;
      &:hover{
        color:rgb(88, 88, 88);
      }
    }
  }
  .fas{
        color: rgb(92, 92, 92);
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        margin-left: 10px;
        font-size: 15px;
        background-color: #d3d3d385;
        &:hover{
            background-color: rgb(204, 204, 204);
            border: 0.5px solid rgb(195, 195, 195);
        }
    }
}
