header {
  width: 100%;
  height: 60px;
  background-color: #5766e2;

  .wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    line-height: 60px;

    .links {
      text-decoration: none;
      color: white;
      font-size: 18px;
    }
  }
}

.LoginPage {
  background-color: #f4f5f7;
  height: 100vh;

  .Form {
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 5px solid transparent;
    box-shadow: 0 0 20px 1px lightgray;
    border-radius: 15px;
    width: 600px;
    height: 400px;
    background-color: #ffffff;
    color: #4e4e4e;
    .welcomeMessage {
      color: #5766e2;
      font-size: 30px;
      font-weight: bold;
      border-bottom: 1px solid #5766e2;
      padding-bottom: 10px;
    }
    .loggingButton {
      background-color: #5766e2;
      border: none;
      outline: none;
      border-radius: 20px;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: Arial;
      font-size: 17px;
      padding: 5px 30px;
      text-decoration: none;
      height: 40px;
      //width: 25px;
    }
    .loggingButton:hover {
      background-color: #5766e2;
    }
    .loggingButton:active {
      position: relative;
      top: 1px;
    }
    .inputs {
      display: flex;
      flex-direction: column;
      line-height: 30px;

      input {
        width: 250px;
        height: 35px;
        border-radius: 13px;
        border: 0.3px solid grey;
        outline: none;
        padding-left: 5px;
      }
      label {
        color: #5766e2;
        padding-left: 10px;
        margin-bottom: 7px;
        margin-top: 12px;
      }
    }
  }

  @media all and (max-width: 630px){
    .Form{
      width: 90%;

    }
  }
}

.errorPage {
  background-color: #eeeeee;
  height: 100vh;

  .btn-home {
    margin: 15px;
  }

  .Form {
    position: relative;
    margin: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 5px solid rgb(255, 134, 134);
    border-radius: 15px;
    width: 600px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px red;
    color: #4e4e4e;

    .welcomeMessage {
      color: #5766e2;
      font-size: 30px;
      font-weight: bold;
      border-bottom: 1px solid #5766e2;
      padding-bottom: 10px;
    }
    .errorMessage {
      position: absolute;
      bottom: 70px;
      font-size: 12px;
      color: red;
      font-weight: bold;
      margin-top: 5px;
    }
    .loggingButton {
      background-color: #5766e2;
      border: none;
      outline: none;
      border-radius: 20px;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: Arial;
      font-size: 17px;
      padding: 5px 30px;
      text-decoration: none;
      height: 40px;
    }
    .loggingButton:hover {
      background-color: #fa6267;
    }
    .loggingButton:active {
      position: relative;
      top: 1px;
    }
    .inputs {
      display: flex;
      flex-direction: column;
      line-height: 30px;

      input {
        width: 250px;
        height: 35px;
        border-radius: 13px;
        border: 0.3px solid grey;
        outline: none;
        padding-left: 5px;
      }
      label {
        color: #5766e2;
        padding-left: 10px;
        margin-bottom: 7px;
        margin-top: 12px;
      }
    }
  }
  @media all and (max-width: 630px){
    .Form{
      width: 90%;

    }
  }

}
