.Login{
    .loggingButton {
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        width: 95px;
        height: 35px;
        text-decoration:none;
        line-height: 35px;
        text-align: center;
    }
    
    
}